/* Kevin Powell's CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
	font-family: "Lexend", Verdana, Geneva, Tahoma, sans-serif;
}

body {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
}

/* ul,
ol,
li {
  list-style: none;
} */

/* img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
} */

main {
	max-width: 70ch;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 0.5ch;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.75rem;
	font-weight: bold;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

ol > li,
ul > li {
	margin-left: 3ch;
}

p {
	font-size: 1rem;
}

small {
	font-size: 0.75rem;
}

.indent {
	position: relative;
	margin-left: 3ch;
}

.indent:before {
	content: "";
	position: absolute;
	left: -3ch;
	top: 2.5%;
	height: 95%;
	width: 2px;
	border-left: 2px solid rgb(230, 229, 224);
}
