/* Kevin Powell's CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: light;
	font-family: "Lexend", Verdana, Geneva, Tahoma, sans-serif;
}

body {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	padding: 2.5dvh 0 2.5dvh 0;
}

/* -------- */

:root {
	--light-grey: rgb(230, 229, 224);
}

main {
	max-width: 70ch;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 0.5ch;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.75rem;
	font-weight: bold;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

ol > li,
ul > li {
	margin-left: 4ch;
}

p {
	font-size: 1rem;
}

small {
	font-size: 0.75rem;
}

a.button {
	background-color: var(--light-grey);
	border-radius: 0.25rem;
	color: black;
	padding: 0.5ch 1ch 0.5ch 1ch;
	text-decoration: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.indent {
	position: relative;
	margin-left: 2ch;
}

.indent:before {
	content: "";
	position: absolute;
	left: -2ch;
	top: 2.5%;
	height: 95%;
	width: 2px;
	border-left: 2px solid var(--light-grey);
}
