/* Kevin Powell's CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* ul,
ol,
li {
  list-style: none;
} */

/* img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
} */

main {
  max-width: 70ch;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
