.about {
	width: 50%;
	margin: 1rem auto;
	
}

.element{
	background-color: #fdd78f;
	border-radius:2%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	padding: 2rem;
  }

.flex-container img {
	align-content: center;
    margin: 2rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-family: "Jolly Lodger", var(--base-font-family);
    font-size: 3rem;
}

p {
   font-size: 1.5rem 
}