.container {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.box {
	border-radius: 0.875rem;
	background-color: var(--card-background-color);
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 170px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.text-container {
	color: #260101;
	padding-left: 20px;
	font-family: "Lexend";
	font-size: 25px;
}

.svg {
	color: black;
	float: right;
	min-width: 100px;
	min-height: 100px;
	margin-top: auto;
	margin-bottom: auto;
}
