/*.title { 
	font-family: "Jolly lodger";
	color: #260101;
	font-size: 100px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 1em;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 0px;
	padding-bottom: 10px;
	border: none;
	min-height: 50px;
	width: 100%;
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 2.5em;
}

.box {
	border-radius: 25px;
	background-color: #fdd78f;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 170px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}
.text-container {
	color: #260101;
	padding-left: 20px;
	font-family: "Lexend";
	font-size: 25px;
}

.svg {
	color: black;
	float: right;
	min-width: 100px;
	min-height: 100px;
	margin-top: auto;
	margin-bottom: auto;
}
