footer {
	background-color: var(--header-background-color);
	justify-content: space-between;
	flex-direction: row;
	flex-grow: 1;
	display: flex;
	padding: 0.875rem 15dvw;
	width: 100%;
}

footer img {
	max-height: 2.5rem;
}

footer h1 {
	font-size: 1.75rem;
}

footer a {
	color: var(--black);
}
