:root {
	--header-background-color: #ffcc66;
	--card-background-color: #fdd78f;
	--default-border-radius: 0.3rem;
	--heading-margin-bottom: 0.5ch;
	--list-item-margin-left: 4ch;
	--bigger-border-radius: 1rem;
	--paragraph-font-size: 1rem;
	--default-transition: all 0.125s ease-in-out;
	--background-color: #fae2b7;
	--base-font-family: "Lexend", Verdana, Geneva, Tahoma, sans-serif;
	--small-font-size: 0.75rem;
	--darker-green: #466f4d;
	--h1-font-size: 3rem;
	--h2-font-size: 1.75rem;
	--h3-font-size: 1.5rem;
	--h4-font-size: 1.25rem;
	--base-green: #548c5d;
	--darker-red: #cc3939;
	--light-grey: #e6e5e0;
	--black: #260101;
	--white: #ffffff;
	--red: #ef4444
}

/* Kevin Powell's CSS reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	font: inherit;
}
/* Global styling */
html {
	color-scheme: light;
	font-family: var(--base-font-family);
}

body {
	background-color: var(--background-color);
	flex-direction: column;
	min-height: 100dvh;
	display: flex;
}

div#page {
	flex-grow: 1;
	display: flex;
	width: 100%;
}

main {
	margin: 3rem auto;
	width: 70ch;
}

h1,
h2,
h3,
h4 {
	margin-bottom: var(--heading-margin-bottom);
}

h1 {
	font-family: "Jolly Lodger", var(--base-font-family);
	font-size: var(--h1-font-size);
}

h2 {
	font-weight: bold;
	font-size: var(--h2-font-size);
}

h3 {
	font-size: var(--h3-font-size);
}

h4 {
	font-size: var(--h4-font-size);
}

ol > li,
ul > li {
	margin-left: var(--list-item-margin-left);
}

p {
	font-size: var(--paragraph-font-size);
}

small {
	font-size: var(--small-font-size);
}

strong {
	font-weight: bold;
}
/* Layout styling */
header {
	background-color: var(--header-background-color);
	padding: 1.25dvh 15dvw;
	width: 100%;
}

header h1 {
	font-family: "Berkshire Swash", var(--base-font-family);
}

header nav a {
	background-color: var(--base-green);
	transition: var(--default-transition);
	font-size: 0.875rem;
	color: var(--white);
}

header nav a:hover {
	background-color: var(--darker-green);
}

header nav a.flex-row {
	align-items: center;
	gap: 1ch;
}

/* Color for active nav button */
header nav a.active {
	background-color: var(--darker-red);
}

#header-main-row {
	justify-content: space-between;
}

.info-pill-container {
	position: absolute;
	right: 15dvw;
}

.info-pill {
	background-color: var(--header-background-color);
	border-radius: 0.5rem;
	align-items: center;
	padding: 0.5rem 1rem;
	width: fit-content;
}

.pill-separator::after,
.pill-element-indicator-green::after,
.pill-element-indicator-red::after {
	line-height: 0;
	transform: translate(-50%, -50%) scale(1.75);
	position: absolute;
	content: "•";
}

.pill-element-indicator-green::after {
	transform: scale(2.5);
	color: var(--base-green);
}

.pill-element-indicator-red::after {
	transform: scale(2.5);
	color: var(--red);
}

footer {
	background-color: var(--header-background-color);
	justify-content: space-between;
	flex-direction: row;
	flex-grow: 1;
	display: flex;
	padding: 0.875rem 15dvw;
	width: 100%;
}

footer img {
	max-height: 2.5rem;
}

footer h1 {
	font-size: 1.75rem;
}

footer a {
	color: var(--black);
}
/*  */

.pre-layout {
	min-width: 70ch;
	margin: 0 auto 1rem auto;
	width: 50dvw;
}

.button {
	text-decoration: none;
	border-radius: var(--default-border-radius);
	padding: 0.5em 1em 0.5em 1em;
}

.flex-row {
	flex-direction: row;
	display: flex;
	gap: 1rem;
}

.flex-col {
	flex-direction: column;
	display: flex;
	gap: 0.25rem;
}
/* Menu page */
.menu {
	flex-direction: column;
	display: flex;
	margin: 1rem auto;
	gap: 1rem;
}

.menu-category {
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
}

.menu-category h2 {
	flex-basis: 100%;
}

.menu-item {
	flex-basis: 47%;
}

.menu-item figure {
	width: 100%;
}

.menu-item img {
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 100%;
}
/* Order now page */
#order-now-button {
	background-color: var(--base-green);
	cursor: pointer;
	color: var(--white);
	width: fit-content;
}

.order-now {
	align-content: center;
	flex-wrap: wrap;
	height: auto;
}

#lasagna {
	border-radius: var(--default-border-radius);
	height: 20rem;
}
/*  */
#background_image {
	background-repeat: no-repeat;
	background-image: url("../assets/images/homepage/background_image_homepage.png");
	background-size: cover;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 90dvh;
	width: 100dvw;
}

.container {
	align-content: center;
	flex-wrap: wrap;
	height: auto;
	color: var(--white);
}

.container a:link {
	text-decoration: none;
	color: var(--header-background-color);
}

.container a:visited {
	text-decoration: none;
	color: var(--header-background-color);
}

.container a:hover {
	text-decoration: underline;
}

.container a:active {
	color: black;
}
/*  */
.header {
	margin-bottom: -2rem;
	font-family: "Jolly lodger";
	font-weight: 500;
	font-size: 11rem;
}

#greetings {
	text-align: center;
	font-size: 3.75rem;
}

#logo {
	font-family: "Berkshire Swash";
}

.undertitle {
	font-weight: normal;
	margin-top: 4.5rem;
	text-align: center;
	font-size: 1.75rem;
}

#refs {
	flex-direction: row;
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--header-background-color);
}

#refs a {
	padding-left: 30px;
}

/* Contact */
.contact {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.text-container {
	color: #260101;
	padding-left: 1rem;
	font-family: "Lexend";
	font-size: 3rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.box {
	border-radius: 0.875rem;
	background-color: var(--card-background-color);
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 170px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.svg {
	color: black;
	float: right;
	min-width: 100px;
	min-height: 100px;
	margin-top: auto;
	margin-bottom: auto;
}

/* Order */
label,
input {
	font-size: 1.5em;
}

input {
	height: 2em;
	min-width: 40ch;
	border-radius: 1em;
	border-style: solid;
	border-color: var(--black);
	border-width: 2px;
}

button[type="submit"] {
	font-size: 0.75rem;
	padding: 0.6em 3em;
	margin: 0.25em;
	border-radius: 1em;
	color: var(--white);
	background-color: var(--base-green);
	cursor: pointer;
}

button[type="button"] {
	font-size: 0.75rem;
	padding: 0.6em 3em;
	margin: 0.25em;
	border-radius: 1em;
	color: var(--white);
	background-color: var(--red);
	cursor: pointer;
}

button[type="button"]:hover {
	background-color: var(--darker-red);
}

button[type="submit"]:hover {
	background-color: var(--darker-green);
}

.about-img {
	border-radius: var(--default-border-radius);
	height: 15rem;
}

/* From https://embed-googlemap.com */
iframe {
	border: 0;
	height: 100%;
	width: 100%;
}

.mapouter {
	border-radius: var(--default-border-radius);
	text-align: right;
	position: relative;
	height: 400px;
	width: 100%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	width: 100%;
	height: 400px;
}

.gmap_iframe {
	height: 400px !important;
}
