header {
	background-color: var(--header-background-color);
	padding: 1.25dvh 20dvw;
	width: 100dvw;
}

header div.flex-row {
	justify-content: space-between;
}

header h1 {
	font-family: "Berkshire Swash", var(--base-font-family);
}

header nav a {
	background-color: var(--base-green);
	transition: var(--default-transition);
	color: var(--white);
}

header nav a:hover {
	background-color: var(--darker-green);
}

header nav a.flex-row {
	align-items: center;
	gap: 1.5ch;
}

.info-pill {
	justify-content: flex-end;
}

.info-pill-content {
	background-color: var(--base-green);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	color: var(--white);
	width: fit-content;
}
