#background_image {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 90dvh;
	width: 100dvw;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../assets/images/homepage/background_image_homepage.png");
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0px;
	flex-wrap: wrap;
	height: auto;

	color: var(--white);
	font-family: "Lexend";
}

.header {
	font-family: "Jolly lodger";
	font-size: 175px;
	font-weight: bold;
	padding-left: 30px;
	margin-bottom: -30px;
}

#greetings {
	font-size: 75px;
}

#logo {
	font-family: "Berkshire Swash";
	padding-left: 20px;
}

.undertitle {
	padding-top: 70px;
	font-weight: normal;
	font-size: 30px;
}

#refs {
	font-size: 20px;
	flex-direction: row;
	color: var(--header-background-color);
	font-weight: bold;
}

#refs span {
	margin-left: 60px;
}

.container a:link {
	color: var(--header-background-color);
	text-decoration: none;
}

.container a:visited {
	color: var(--header-background-color);
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}

.container a:active {
	color: black;
}
