#background_image {
	background-repeat: no-repeat;
	background-image: url("../assets/images/homepage/background_image_homepage.png");
	background-size: cover;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 90dvh;
	width: 100dvw;
}

.container {
	align-content: center;
	flex-wrap: wrap;
	height: auto;
	color: var(--white);
	gap: 0px;
}

.header {
	margin-bottom: -2rem;
	font-family: "Jolly lodger";
	font-weight: 500;
	font-size: 11rem;
}

#greetings {
	text-align: center;
	font-size: 3.75rem;
}

#logo {
	font-family: "Berkshire Swash";
}

.undertitle {
	font-weight: normal;
	margin-top: 4.5rem;
	text-align: center;
	font-size: 1.75rem;
}

#refs {
	flex-direction: row;
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--header-background-color);
}

.container a:link {
	text-decoration: none;
	color: var(--header-background-color);
}

.container a:visited {
	text-decoration: none;
	color: var(--header-background-color);
}

.container a:hover {
	text-decoration: underline;
}

.container a:active {
	color: black;
}
