/*.menu {
	flex-direction: column;
	display: flex;
	margin: 1rem auto;
	gap: 1rem;
}

.menu-category {
	justify-content: space-between;
	flex-wrap: wrap;
	display: flex;
}

.menu-category h2 {
	flex-basis: 100%;
}

.menu-item {
	flex-basis: 47%;
}

.menu-item figure {
	width: 100%;
}

.menu-item img {
	aspect-ratio: 1/1;
	object-fit: cover;
	width: 100%;
}
