label,
input {
	font-size: 1.5em;
}

input {
	height: 2em;
	min-width: 40ch;
	border-radius: 1em;
	border-style: solid;
	border-color: var(--black);
	border-width: 2px;
}

button[type="submit"] {
	font-size: 0.75rem;
	padding: 0.6em 3em;
	margin: 0.25em;
	border-radius: 1em;
	color: var(--white);
	background-color: var(--base-green);
	cursor: pointer;
}

button[type="button"] {
	font-size: 0.75rem;
	padding: 0.6em 3em;
	margin: 0.25em;
	border-radius: 1em;
	color: var(--white);
	background-color: var(--red);
	cursor: pointer;
}

#buttons {
	display: flex;
}

button[type="button"]:hover {
	background-color: var(--darker-red);
}

button[type="submit"]:hover {
	background-color: var(--darker-green);
}
