main {
	font-size: 1.5em;
	background-color: #fae2b7;
}

main input {
	height: 2em;
	min-width: 40ch;
	border-radius: 1em;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
main button[type="submit"] {
	font-size: 12px;
	padding: 0.6em 3em;
	margin: 0.25em;
	border-radius: 1em;
	color: white;
	background-color: #548c5d;
	cursor: pointer;
}
main button[type="button"] {
	font-size: 12px;
	padding: 0.6em 3em;
	margin: 0.25em;
	border-radius: 1em;
	color: white;
	background-color: red;
	cursor: pointer;
}
main #buttons {
	display: flex;
}
main button[type="button"]:hover {
	background-color: darkred;
}
main button[type="submit"]:hover {
	background-color: darkgreen;
}
